<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Edit Employee</h1>
      <%= render 'form', employee: @resource %>
      <%= link_to 'Back', employees_path, class: "btn btn-secondary mt-2" %>
    </div>
  </div>
</div>
